
<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @restaurant.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @restaurant.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @restaurant.zip %>
</p>

<p>
  <strong>Food List:</strong>
  <%= link_to "Add Food", edit_restaurant_path(@restaurant) %>
  <ul>
    <% @foods.each do |food| %>
      <li><%= food.name %> <%= food.description %> <%= food.cost %></li>
    <% end %>
  </ul>
</p>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
<br>
<% @restaurant.comments.each do |comment| %>
  <%= comment.content %>
  <br>
<% end %>

<%= form_for @comment, url: create_comment_restaurant_path(@restaurant) do |f| %>
  <!-- create_comment_restaurant -->
  <%= f.label :content %>
  <%= f.text_area :content %>
  <br>
  <%= f.submit %>
<% end %>


